VSS/
componentVersions/
eval/
inspection/
options/IntelliLang.xml
options/appComponentVersions.xml
options/applicationLibraries.xml
options/browsers.xml
options/colors.scheme.xml
options/debugger.renderers.xml
options/encoding.xml
options/feature.usage.statistics.xml
options/file.template.settings.xml
options/filetypes.xml
options/github_settings.xml
options/jdk.table.xml
options/mavenVersion.xml
options/notifications.xml
options/options.xml
options/osmorc.xml
options/other.xml
options/path.macros.xml
options/plugin_ui.xml
options/project.default.xml
options/runner.layout.xml
options/statistics.application.usages.xml
options/stubIndex.xml
options/template.settings.xml
options/usage.statistics.xml
options/window.manager.xml
port
quicklists/
tasks/
codestyles/
disabled_plugins.txt
options/dataSources.*
options/uml.xml
tools/
shelf
